<nav>
  <div class="site-title">
    
    <a href ='/'><h1>Akanksha's Blog</h1></a>
    <p>my website</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about1">About</a></li>
    <li><a href ="/blogs/create">New blog</a></li>
  </ul>
</nav>