<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/nav.ejs')%>

  <div class="about content">
    <h2>About Me</h2>
    <p>Sophomore at PES University</p>
    <p>Programming Enthusiast</p>
    <p>Love travelling</p>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>
</html>